.negritas{
	font-weight: bold;
}

.imagen{
  text-align: center;
  background-image: url("http://www.ulima.edu.pe/sites/default/files/styles/600x300/public/news/img/2012-04-10_taller_de_emprendimiento_verano_menor_resolucion.jpg?itok=rQC0UWlw");
color: white;
background-size: cover;
margin-bottom: 0px;
width: 100%;
height: 50vh;
margin: auto;

}
.verde{
  text-align: center;
  background-color: #59D3AB;
  color: white;
  height: 50vh;
  margin: auto;
}

.font_size{
	font-size: 300%;
}

.center{
align-content: center;
}

.azul{
	color: blue;
}
.hacker{
	background-image: url("https://regmedia.co.uk/2016/03/15/shutterstock_hacker.jpg?x=648&y=348&crop=1");
width: 100%;
}

.azul_btn{
	background-color: blue;
}

.dash{
	border-width: 3px;
	border-style: dashed;
	border-color: red; 
}

.r_imagen{
	margin: none;
	width: 90%;
    height: 50%;
    position: relative;
    float: left;

}

p{
	margin: 3%;
    text-align: center;
}

.sintexto{
	margin: 3%;
    text-align: left;
}


.fondo{
	background-color: red;
}